body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

h2 {
    color: white;
}

.form-floating-custom {
    position: relative;
}

.form-floating-custom label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: white;
    padding: 0 5px;
    transition: all 0.2s ease;
    pointer-events: none;
}

.form-floating-custom input:focus + label,
.form-floating-custom input:not(:placeholder-shown) + label {
    top: -8px;
    left: 10px;
    font-size: 12px;
    color: #007bff;
}

.form-floating-custom input {
    padding-top: 20px;
    padding-bottom: 5px;
}

/* section */
.floating-select {
    position: relative;
}

.floating-select label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: white;
    padding: 0 5px;
    transition: all 0.2s ease;
    pointer-events: none;
}

.floating-select select:focus + label,
.floating-select select:not([value=""]) + label {
    top: -8px;
    left: 10px;
    font-size: 12px;
    color: #007bff;
}

.floating-select select {
    padding-top: 20px;
    padding-bottom: 5px;
    appearance: none;
    background-color: transparent;
    position: relative;
    background-color: white;
    border: 1px solid #ced4da;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    appearance: none;
}

/* Seta customizada para o campo select */
.floating-select::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: #007bff;
}

img {
    margin-right: 20px;
}

.center {
    width: 100%;
    text-align: center;
}
